.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #2C3E50; /* Primary Color */
  }
  
  .developer-name {
    font-size: 1.5rem;
    color: #ECF0F1; /* Accent Color */
  }